*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}

body{
  margin: 0;
  padding: 0;
  padding-top: 10%;
  background-color: #4696e5;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#container{
  position: relative;
  max-width: 100px;
  min-width: 400px;
  margin: auto;
  clear:both;

  color: white;
  text-shadow: 0.1em 0.1em 0.1em #2d6a85;
}

#container_location{
  display: inline-block;
  padding-top: 1em;
}

#container_icon{
  position: absolute;;
  display: inline-block;
  font-size: 4em;
  top: -0.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  left: 1.8em;
}

#container_weather{
  position: absolute;;
  display: inline-block;
  cursor: pointer;
  padding-top: 1.3em;
  left: 18em;
}

#container_weather > h6{
  text-align: center;
}


h1{
  line-height: 1;
  font-size: 4em;
  margin: 0;

}

h5{
  font-size: 1.3em;
}

h6{
  font-size: 0.8em;
}

h5, h6{
  margin-top: 0;
  margin-bottom: 0.3em;
}
